@import "tailwindcss";

@layer base {
  body{
    overflow-x: hidden;
    --accent: #FF8F9C;
    --blackish: #1B1B1B;
  }
}

@layer components{
  .header_top_icon_wrapper{
    @apply bg-gray-200 rounded-md p-[6px] text-[14px] cursor-pointer hover:bg-[var(--accent)] hover:text-white;
  }

  .header_main_icons{
    @apply bg-red-600 rounded-full absolute top-0 right-0 w-[18px] h-[18px] text-[12px] text-white grid place-items-center translate-x-1 -translate-y-1;
  }

  .navbar_link:hover{
    color: var(--accent);
    transition: all 0.4s;
  }

  .navbar_link::after{
    position: absolute;
    content: "";
    background-color: var(--accent);
    height: 3px;
    width: 100%;
    bottom: -5px;
    left: 0;
    scale: 0;
    transform-origin: left;
    transition: all 0.4s;
  }

  
  .navbar_link:hover::after{
    scale: 1;
  }
}